
<p>x Close</p>
<span><% Incomplete HTML %></span>

    <p> untranslated camel case candidate 1/1 </p>
<p>untranslated 0 of 4</p>
<p>untranslated 1 of 4</p>

{{ translated something }}
<% translated.moosey.fate.should.not.appear %>
<p>
  untranslated 2 of 4
</p>

    <p>same</p>

    <p>same</p>

    <p>Ok</p>

    <p>x Close</p>

<p>x Close</p>  <p>close</p>

    <p> supercalafagilisticespialadoscious </p>

    <p>Pickled meh vegan, banjo tote bag seitan paleo sustainable 90's church-key freegan selvage PBR&B mumblecore. Kale chips seitan XOXO, biodiesel organic mumblecore gluten-free VHS readymade. Thundercats sartorial tattooed, leggings cliche scenester gentrify craft beer seitan typewriter Pitchfork drinking vinegar. Wes Anderson stumptown PBR, Helvetica small batch disrupt sartorial 8-bit mumblecore. Mustache Etsy paleo, distillery Kickstarter post-ironic iPhone bicycle rights messenger bag PBR&B raw denim Pitchfork wolf PBR sustainable. Tonx mixtape beard, banjo authentic Thundercats hashtag tousled fap pork belly mlkshk salvia 8-bit. Try-hard scenester four loko American Apparel Godard.</p>

    <p>
      Pickled meh vegan, banjo tote bag seitan paleo sustainable 90's church-key freegan selvage PBR&B mumblecore. Kale chips seitan XOXO, biodiesel organic mumblecore gluten-free VHS readymade. Thundercats sartorial tattooed, leggings cliche scenester gentrify craft beer seitan typewriter Pitchfork drinking vinegar. Wes Anderson stumptown PBR, Helvetica small batch disrupt sartorial 8-bit mumblecore. Mustache Etsy paleo, distillery Kickstarter post-ironic iPhone bicycle rights messenger bag PBR&B raw denim Pitchfork wolf PBR sustainable. Tonx mixtape beard, banjo authentic Thundercats hashtag tousled fap pork belly mlkshk salvia 8-bit. Try-hard scenester four loko American Apparel Godard.
    </p>

  <div>untranslated 3 of 4</div>

    <section stuff> untranslated 4 of
    4
    </section>

    <% translated.moosey.fate %>


<span><% Incomplete poorly formatted HTML %></span>